/* colors */
/* classes */
.apg-mono {
  font-family: monospace;
}
.apg-active {
  font-weight: bold;
  color: #000000;
}
.apg-match {
  font-weight: bold;
  color: #264BFF;
}
.apg-empty {
  font-weight: bold;
  color: #0fbd0f;
}
.apg-nomatch {
  font-weight: bold;
  color: #FF4000;
}
.apg-lh-match {
  font-weight: bold;
  color: #1A97BA;
}
.apg-lb-match {
  font-weight: bold;
  color: #5F1687;
}
.apg-remainder {
  font-weight: bold;
  color: #999999;
}
.apg-ctrl-char {
  font-weight: bolder;
  font-style: italic;
  font-size: .6em;
}
.apg-line-end {
  font-weight: bold;
  color: #000000;
}
.apg-error {
  font-weight: bold;
  color: #FF4000;
}
.apg-phrase {
  color: #000000;
  background-color: #264BFF;
}
.apg-empty-phrase {
  color: #0fbd0f;
}
.apg-state {
  font-family: monospace;
}
.apg-state,
.apg-state th,
.apg-state td {
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}
.apg-state caption {
  font-size: 125%;
  font-weight: bold;
  text-align: left;
}
.apg-stats {
  font-family: monospace;
}
.apg-stats,
.apg-stats th,
.apg-stats td {
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}
.apg-stats caption {
  font-size: 125%;
  font-weight: bold;
  text-align: left;
}
.apg-trace {
  font-family: monospace;
}
.apg-trace,
.apg-trace th,
.apg-trace td {
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}
.apg-trace th:last-child {
  text-align: left;
}
.apg-trace th:nth-last-child(2) {
  text-align: left;
}
.apg-trace td:last-child {
  text-align: left;
}
.apg-trace td:nth-last-child(2) {
  text-align: left;
}
.apg-trace caption {
  font-size: 125%;
  font-weight: bold;
  text-align: left;
}
